{% extends "root.html" %}
{% block body %}

<div class="container">
  <h2>Record Sales</h2>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="inventory_item">Inventory Item:</label>
      <select class="form-control" id="inventory_item" name="inventory_item">
        <option value="">Select Inventory Item</option>
        {% for item in available_items %}
        <option value="{{ item.id }}">{{ item }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input type="number" class="form-control" id="quantity" name="quantity" required>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" name="price" step="0.01" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>


<script>
// Calculate total based on quantity and price
document.getElementById('quantity').addEventListener('input', updateTotal);
document.getElementById('price').addEventListener('input', updateTotal);

function updateTotal() {
  var quantity = parseFloat(document.getElementById('quantity').value);
  var price = parseFloat(document.getElementById('price').value);
  var total = isNaN(quantity) || isNaN(price) ? 0 : quantity * price;

  document.getElementById('total').value = total.toFixed(2);
}

</script>
{% endblock %}
