*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:white;
    height: 100vh;
    width: 100%;
    background-image: url(hero.jpg);
    background-position: center;
    background-size: cover;
}

main .form button{
    width: 100%;
}

main .form_tiles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.896);
    border-radius: 10px;
}

main div h3{
    text-align: center;
}